
@model List<cloudTest.Models.Discussion>
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div class="btn-container">
    <a class="btn btn-primary" href="@Url.Action("AddDiscussion","Home")">Add Discussion</a>
    <a class="btn btn-primary" href="@Url.Action("Logout","Home")">Logout</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Observer</th>
            <th scope="col">Subject</th>
            <th scope="col">Location</th>
            <th scope="col" style="width:100px">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.ID</th>
                <th scope="row">@item.Observer</th>
                <th scope="row">@item.Subject</th>
                <th scope="row">@item.Location</th>
                <th scope="row">
                    <a class="btn btn-primary btn-sm" href="@Url.Action("ViewDetails","Home", item)">View Details</a>
                </th>
            </tr>
        }
    </tbody>
</table>
